.App {
  width: fit-content;
  height: fit-content;
  text-align: left;
  padding: 6px;
  background: linear-gradient(to bottom right, yellow, lightgreen);
}

.App canvas {
  background-color: white;
}
